<section data-ng-controller="PageController" class="col-sm-12">
    <h3 class="page-header">About Us</h3>
    <article class="col-sm-12 col-md-7">
        <h4>More About Direct Kitchen</h4>
        <p>
            Direct kitchen is focusing on unique & specialised products and services to construction companies, Developers ,home builders, kitchens and joinery companies within Auckland and surrounding cities.
        </p>
        <p>
            We provide prefessional kitchen cabinets design ,manufacture and installation.we use New Zealand material supplier,like Bestwood for the kitchen units.
        </p>
        <p>
            We are also specialising in importing and manufacturing natural stone products and engineered stone.we are one of the preferred fabricator of all leading brands like Caesar Stone,Sile Stone,Trend Stone and Uni quartz.
        </p>
        <p>
            No matter how large or small the project may be, our aim has been to meet the clients budget without compromising on quality and professionalism completing the job at the specified date.
        </p>
        <p>
            We have been very successful in achieving this by the dedication of our crafts people and providing all the new technologies and the latest machinery for both naturaland engineered stones.
        </p>
        <p>
            So whatever your kitchen needs may be, we will provide you with excellent service to supply and install your next kitchen.
        </p>
    </article>
    <figure class="col-sm-12 col-md-5">
        <img class="img-responsive top-buffer" src="/modules/core/img/kitchens/1.jpg">
        <img class="img-responsive top-buffer" src="/modules/core/img/kitchens/3.jpg">
    </figure>
</section>