<section data-ng-controller="PageController" class="col-sm-12" data-ng-init="product = products[1]">
    <h3 class="page-header">Kitchens</h3>
    <div>
        <figure class="col-sm-12 text-center">
            <a data-ng-repeat="image in product.images" data-ng-href="{{image}}" class="fancybox" rel="group">
                <img data-ng-src="{{image}}" class="">
            </a>
        </figure>
        <article class="col-sm-10 col-sm-offset-1 top-buffer">
            <p data-ng-repeat="p in product.description" data-ng-bind="p"></p>
        </article>

    </div>
</section>