<section data-ng-controller="PageController" class="col-sm-12">
    <aside class="col-sm-4">
        <h3 class="page-header">Company Address</h3>
        <p>Ph:09 4409436</p>
        <p>Mob:021 668846</p>
        <p>Fax:09 4449388</p>
        <p>Email: <a href="mailto:info@directkitchen.co.nz">info@directkitchen.co.nz</a></p>
        <address>126,Sunnybrae Road, Hillcrest, Auckland</address>
        <h3 class="page-header">Showroom Open Hours</h3>
        <p>9.00am-6.00pm Mon-Sat</p>
        <p>Sunday by Appointment</p>
    </aside>
    <div class="col-sm-8">
        <h3 class="page-header">Find Us On Google Map</h3>
        <div class="map">
            <iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3195.461789281623!2d174.73810899999998!3d-36.783477000000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d39a593a3ab61%3A0x1e20804e81d09513!2sSunnybrae+Road!5e0!3m2!1sen!2snz!4v1425939905437" width="600" height="450" frameborder="0" style="border:0"></iframe>
            <div>
                <a target="_blank" href="https://www.google.co.nz/maps/place/Sunnybrae+Road/@-36.783477,174.738109,17z/data=!3m1!4b1!4m2!3m1!1s0x6d0d39a593a3ab61:0x1e20804e81d09513?hl=en">
                    View Larger Map
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <h3 class="page-header">Contact Us</h3>
        <form class="" data-toggle="validator" role="form" data-ng-submit="send()">
            <div class="form-group required">
                <label for="name" class="control-label text-capitalize">name</label>
                <input required type="text" class="form-control" id="name" name="name" data-ng-model="contact.name" placeholder="Name">
            </div>
            <div class="form-group required">
                <label for="email" class="control-label text-capitalize">email</label>
                <input required type="email" class="form-control" id="email" name="email" data-ng-model="contact.email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="mobile" class="control-label text-capitalize">mobile</label>
                <input type="text" class="form-control" id="mobile" name="mobile" data-ng-model="contact.mobile" placeholder="Mobile">
            </div>
            <div class="form-group required">
                <label for="message" class="control-label text-capitalize">message</label>
                <textarea required type="text" class="form-control" id="message" name="message" data-ng-model="contact.message" rows="5" placeholder="Message"></textarea>
            </div>
            <button type="submit" class="btn btn-lg btn-default send-button" >Send</button>
        </form>
    </div>

</section>