<section data-ng-controller="PageController" class="col-sm-12">
    <div class="slider col-sm-8 col-sm-offset-2" >
        <flex-slider flex-slide="slide in slides">
            <li>
                <img ng-src="{{slide}}">
            </li>
        </flex-slider>
    </div>
        <!--
    <div data-ng-include="template.products.url">
    </div>
        -->
    <div class="products">
        <a data-ng-href="/#!/product/{{product.link}}" filter-link="" class="container col-sm-4 text-center top-buffer" data-ng-repeat="product in products">
            <div class="product">
                <h3 class="title" data-ng-bind="product.title"></h3>
                <div class="images">
                    <img data-ng-src="{{product.images[0]}}" >
                </div>
                <div class="description">
                    <p data-ng-bind="product.summary"></p>
                </div>
            </div>
        </a>
    </div>
    <div class="logos col-sm-12 text-center">
        <h5>Partnering With</h5>
        <img class="col-sm-6 col-sm-offset-3 col-xs-12" src="/modules/core/img/brand/logos.jpg" alt="partners" title="partners">
    </div>
</section>