<section data-ng-controller="PageController" class="col-sm-12">
    <div class="slider" >
        <flex-slider flex-slide="slide in slides">
            <li>
                <img ng-src="{{slide}}">
            </li>
        </flex-slider>
    </div>

    <div class="products">
        <div class="container col-sm-4 text-center" data-ng-repeat="product in products">
            <div class="product">
                <h3 class="title" data-ng-bind="product.title"></h3>
                <div class="images">
                    <img data-ng-src="{{product.images}}" title="{{product.images}}" alt="{{product.images}}" >
                </div>
                <div class="description">
                    <p data-ng-bind="product.description"></p>
                </div>
            </div>
        </div>
    </div>
</section>