html {
  padding: 4% 0;
  background: url("/modules/core/img/brand/bg.png") repeat; }

body {
  width: 95%;
  margin: auto;
  font-family: News Cycle, sans-serif;
  background: url("/modules/core/img/brand/bg1.png") repeat; }

header .navbar-header {
  width: 20%; }
  header .navbar-header .navbar-toggle {
    background-color: #555555; }
    header .navbar-header .navbar-toggle .icon-bar {
      background-color: #ffffff; }
  header .navbar-header a {
    display: block;
    width: 100%; }
    header .navbar-header a .logo {
      width: 100%; }
header nav {
  padding: 0 !important; }
  header nav ul.nav li a {
    display: block;
    height: 50px;
    padding: 10px 30px;
    box-sizing: content-box;
    line-height: 50px;
    font-size: 18px;
    color: #555555;
    text-transform: uppercase;
    transition: 1s; }
    header nav ul.nav li a:hover {
      background: #6B625E;
      color: #ffffff; }

.products .product {
  background-color: #736761;
  height: 450px; }
  .products .product .title {
    color: #ffffff;
    background-color: #CEDB32;
    font-size: 32px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #AFB932;
    padding: 4%;
    letter-spacing: 1px;
    margin: 0;
    line-height: 50px; }
  .products .product .images img {
    display: block;
    width: 100%; }
  .products .product .description {
    padding: 20px 10px; }
    .products .product .description p {
      color: #ffffff;
      font-size: 15px; }

article h4 {
  color: #949B3F; }
article p {
  text-align: justify;
  color: #736761;
  font-size: 15px; }

.top-buffer {
  margin-top: 20px; }

.page-header {
  color: #564C48; }

.send-button {
  background-color: #564C48;
  color: #ffffff;
  border-radius: 0;
  transition: 1s; }
  .send-button:hover {
    background-color: #B1BD23; }
  .send-button.disabled {
    color: #564C48; }

input, textarea {
  border-radius: 0 !important; }

textarea {
  resize: none; }

.form-group.required:before {
  content: "*";
  color: red;
  font-size: 20px;
  padding: 0 5px; }

footer {
  padding-top: 50px;
  padding-bottom: 20px; }

section.container-fluid {
  margin: 0;
  padding: 0; }

.view-container {
  position: relative; }

.view-frame.ng-enter, .view-frame.ng-leave {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.view-frame.ng-enter {
  -webkit-animation: 1s fade-in;
  -moz-animation: 1s fade-in;
  -o-animation: 1s fade-in;
  animation: 1s fade-in;
  z-index: 100; }

.view-frame.ng-leave {
  -webkit-animation: 1s fade-out;
  -moz-animation: 1s fade-out;
  -o-animation: 1s fade-out;
  animation: 1s fade-out;
  z-index: 99; }

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transform-origin: 30% top 0;
    -moz-transform-origin: 30% top 0;
    -ms-transform-origin: 30% top 0;
    -o-transform-origin: 30% top 0;
    transform-origin: 30% top 0; }
  to {
    opacity: 1;
    transform: none; } }
@-moz-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-moz-keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-webkit-keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/*# sourceMappingURL=customise.css.map */
